.m-user-body {
  width: 888px;
  overflow: hidden;
}
.m-user-body {
  width: 100%;
  margin-top: 20px;
  overflow: hidden;
  display: block;
  background: #fffceb;
}
.m-user-body {
  width: 100%;
  margin-top: 20px;
  overflow: hidden;
  display: block;
  background: #fffceb;
}
.m-user-body {
  width: 100%;
  margin-top: 20px;
  overflow: hidden;
  display: block;
  background: #fffceb;
}
.m-user-body ul {
  background-color: #fffceb;
  border: 1px solid #ddd;
  margin-bottom: -1px;
  padding-left: 40px;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  overflow: hidden;
}

.m-user-body .col-first {
  text-align: left;
  width: 388px;
  height: 100px;
  overflow: hidden;
}
.m-user-body li {
  width: 150px;
  height: 100px;
  padding: 5px 0;
  overflow: hidden;
  vertical-align: middle;
  font-size: 14px;
  color: #333;
  line-height: 25px;
  text-align: center;
  float: left;
}
li {
  list-style: none;
}
.m-layer .m-form {
  border: 0;
  padding-bottom: 10px;
}
.m-layer .lyct {
  padding: 30px 20px 15px;
  font-size: 16px;
}
.m-layer .m-form {
  border: 0;
  padding-bottom: 10px;
}
.m-layer .lyct {
  padding: 30px 20px 15px;
  font-size: 16px;
}
.m-form {
  font-family: \5b8b\4f53;
}
fieldset {
  display: block;
  -webkit-margin-start: 2px;
  -webkit-margin-end: 2px;
  -webkit-padding-before: 0.35em;
  -webkit-padding-start: 0.75em;
  -webkit-padding-end: 0.75em;
  -webkit-padding-after: 0.625em;
  min-width: -webkit-min-content;
}
.m-form .formitm {
  padding: 10px 0 0;
  line-height: 25px;
}
.m-form .lab {
  float: left;
  width: 60px;
  margin-right: -60px;
  text-align: right;
  line-height: 25px;
}
.m-form .ipt {
  margin-left: 70px;
  position: relative;
}
.m-form input.u-ipt {
  padding-left: 6px;
  border: 1px solid #ccc;
  height: 24px;
  line-height: normal;
  line-height: 24px\9;
}
.m-layer .m-form .ipt p {
  font-size: 12px;
}

.jqmWindow .dialog_tt{
	height:36px;
	/*background:#1c89d5;*/
	background:#ED4548;
	color:#FFF;
	font-size:14px;
	font-weight:bold;
	line-height:36px;
	padding:0 10px;
	border-radius:6px 6px 0 0;
	/*text-align:right;*/
}

.jqmWindow .dialog_tt .jqmClose{
	width:20px;
	height:20px;
	display:inline-block;
	background:url(../images/xx.png) no-repeat;
	margin:8px 0;
	float:right;
}
	
.jqmWindow .dialog_cent{
	padding:20px 40px 20px 40px;
}

.jqmWindow .dialog_foot{
	heigth:62px;
	border-top:1px solid #e0e1e1;
	line-height:62px;
	text-align:center;
	padding:5px 0 5px 0; 
}

.jqmWindow .dialog_foot .button{
	float:none;
}
.f-submit {
  width: 186px;
  height: 28px;
  overflow: hidden;
  text-align: center;
  border: 0;
  background: url(../images/btn_user_submit_bg1_8ced4c4.png) 0,0 no-repeat;
  font-size: 18px;
  line-height: 30px;
  color: #fff;
}