.review_nav ul li {
    float: left;
    width: 50%;
    text-align: center;
    font-size: 12px;
    background-color:#fff
}
.review_nav ul li.on a {
    border-bottom: 3px solid #F39800;
    height: 37px;
    color:#F39800;
}
.review_nav ul li a {
    display: block;
    height: 40px;
    line-height: 40px;
    color:black;
}
.review_nav ul li.on a span {
    padding-bottom: 0;
}
.nearby-type{margin-top:4rem;background-color:#fff}
.nearby-type table{width:100%}
.nearby-type table td{text-align:center;}
.auto-img{width:100%;height:auto}
table{width:100%}
.shop-list ul{width: 100%;float: left;}
.shop-list li{height:75px;overflow: hidden;font-size:12px;float: left;position: relative;width: 100%;border-bottom: 1px solid #D7D7D7;line-height:25px;background-color:#fff}
.shop-list .shop-img{width:20%}
.shop-list .shop-info{padding-left:5px;}
.shop-list .addr-img{float:right;padding-right:10px}
.shop-list .addr-img img{width:12px;height:12px}
.shop-list .addr-img span{padding-left:4px}
.shop-list .sale-num img{width:12px;height:12px}
.shop-list .sale-num span{padding-left:4px}
.shop-fav{
	z-index: 2;
    position: absolute;
    right: 0;
    width: 2rem;
    height: 1.2rem;
    background: url(../images/fav.png) no-repeat center;
    background-size: .7rem;
    line-height: 2.2rem;
    font-size: .7rem;
    -webkit-transition: background .3s;
    transition: background .3s;
    overflow: hidden;
    text-indent: -999rem;
    padding-right:10px;
}
.shop-fav.on{
	z-index: 2;
    position: absolute;
    right: 0;
    width: 2rem;
    height: 1.2rem;
    background: url(../images/fav_on.png) no-repeat center;
    background-size: .7rem;
    line-height: 2.2rem;
    font-size: .7rem;
    -webkit-transition: background .3s;
    transition: background .3s;
    overflow: hidden;
    text-indent: -999rem;
    padding-right:10px;
}
@media only screen and (min-width:640px){
	.shop-list li{font-size:36;line-height:85px}
}
.shop-desc{display:none}
.load{padding: 10px 0;height: 25px;font-size: 12px;line-height: 25px;text-align: center;color: #646464;}
.load img {width: 16px;height: 16px;margin-right: 5px;vertical-align: text-bottom;}