<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                       http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name>sjb</display-name>
  <description>sjb</description>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:applicationContext*.xml</param-value>
  </context-param>
  <filter>
    <filter-name>UrlRewriteFilter</filter-name>
    <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
    <init-param>
      <param-name>logLevel</param-name>
      <param-value>DEBUG</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>UrlRewriteFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>openSessionInViewFilter</filter-name>
    <filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
    <init-param> 
      <param-name>excludeSuffixs</param-name>
      <param-value>js,css,jpg,gif,png,bmp,jpeg</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>openSessionInViewFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>structs</filter-name>
    <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>structs</filter-name>
    <url-pattern>*.action</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <servlet>
    <servlet-name>JSPSupportServlet</servlet-name>
    <servlet-class>org.apache.struts2.views.JspSupportServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>com.alipay.servlet.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/mobile/servlet/indexServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AppToPayServlet</servlet-name>
    <servlet-class>com.alipay.servlet.AppToPayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppToPayServlet</servlet-name>
    <url-pattern>/mobile/servlet/appToPayServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NotifyServlet</servlet-name>
    <servlet-class>com.alipay.servlet.NotifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NotifyServlet</servlet-name>
    <url-pattern>/mobile/servlet/notifyServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReturnServlet</servlet-name>
    <servlet-class>com.alipay.servlet.ReturnServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReturnServlet</servlet-name>
    <url-pattern>/mobile/servlet/returnServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AuthCodeServlet</servlet-name>
    <servlet-class>com.tencent.servlet.AuthCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthCodeServlet</servlet-name>
    <url-pattern>/mobile/servlet/authServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WebChatNotifyServlet</servlet-name>
    <servlet-class>com.tencent.servlet.NotifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WebChatNotifyServlet</servlet-name>
    <url-pattern>/mobile/servlet/webChatNotifyServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TopayServlet</servlet-name>
    <servlet-class>com.tencent.servlet.TopayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TopayServlet</servlet-name>
    <url-pattern>/mobile/servlet/toPayServlet.do</url-pattern>
  </servlet-mapping>
  <servlet> 
		<servlet-name>alipay_notifyUrlServlet</servlet-name> 
		<servlet-class>com.jshop.action.app.alipay.NotifyUrlServlet</servlet-class> 
	</servlet> 
	<servlet-mapping> 
		<servlet-name>alipay_notifyUrlServlet</servlet-name> 
		<url-pattern>/app/alipay/notifyUrlServlet.do</url-pattern> 
	</servlet-mapping>
	
	<servlet> 
		<servlet-name>tencent_notifyUrlServlet</servlet-name> 
		<servlet-class>com.jshop.action.app.tencent.NotifyUrlServlet</servlet-class> 
	</servlet> 
	<servlet-mapping> 
		<servlet-name>tencent_notifyUrlServlet</servlet-name> 
		<url-pattern>/app/tencent/notifyUrlServlet.do</url-pattern> 
	</servlet-mapping>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
  </listener>
  <filter>
    <filter-name>jCaptchaFilter</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    <init-param>
      <param-name>targetFilterLifecycle</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>jCaptchaFilter</filter-name>
    <url-pattern>/captcha.cpg</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>jBarcodeFilter</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    <init-param>
      <param-name>targetFilterLifecycle</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  
  <filter-mapping>
    <filter-name>jBarcodeFilter</filter-name>
    <url-pattern>/barcode.cpg</url-pattern>
  </filter-mapping>
  
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
